<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="idea">
      <h2 data-cy="ideaDetailsHeading"><span>Idea</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ idea.id }}</span>
        </dd>
        <dt><span>Idee</span></dt>
        <dd>
          <span>{{ idea.idee }}</span>
        </dd>
        <dt><span>Theme</span></dt>
        <dd>
          <span>{{ idea.theme }}</span>
        </dd>
        <dt><span>Piste</span></dt>
        <dd>
          <span>{{ idea.piste }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/idea', idea.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
