<div>
  <h2 id="page-heading" data-cy="CourseHeading">
    <div class="d-flex justify-content-end">
      <div class="btn btn-info mr-2">
        <fa-icon icon="sync"></fa-icon>
        <span>Refresh List</span>
      </div>

      <div class="btn btn-primary jh-create-entity create-course" (click)="openModal('new')">
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Course </span>
      </div>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="courses?.length === 0">
    <span>No courses added</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="courses && courses.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Title</span></th>
          <th scope="col"><span>Urls</span></th>
          <th scope="col"><span>Ctype</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of courses; trackBy: trackId" data-cy="entityTable">
          <td>
            <a (click)="openModal('view', course)">{{ course.id }}</a>
          </td>
          <td>{{ course.title }}</td>
          <td>
            <a *ngIf="course.urls" (click)="openFile(course.urls, course.urlsContentType)">open</a>
            <span *ngIf="course.urls">{{ course.urlsContentType }}, {{ byteSize(course.urls) }}</span>
          </td>
          <td>{{ course.ctype }}</td>
          <td class="text-right">
            <div class="btn-group">
              <div (click)="openModal('view', course)" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </div>

              <div (click)="openModal('edit', course)" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </div>

              <div (click)="delete(course)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
