<div>
  <h2 id="page-heading" data-cy="StudentsHeading">
    <span>Students</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-students"
        [routerLink]="['/students/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Students </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="students?.length === 0">
    <span>No students found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="students && students.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Student Identifier</span></th>
          <th scope="col"><span>Student First Name</span></th>
          <th scope="col"><span>Student Last Name</span></th>
          <th scope="col"><span>Date Of Birth</span></th>
          <th scope="col"><span>School Year</span></th>
          <th scope="col"><span>Class Name</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let students of students; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/students', students.id, 'view']">{{ students.id }}</a>
          </td>
          <td>{{ students.studentIdentifier }}</td>
          <td>{{ students.studentFirstName }}</td>
          <td>{{ students.studentLastName }}</td>
          <td>{{ students.dateOfBirth | formatMediumDate }}</td>
          <td>{{ students.schoolYear }}</td>
          <td>{{ students.className }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/students', students.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/students', students.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(students)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
