<div class="left-side-menu" *ngIf="isAuthenticated()">
  <!--- Sidemenu -->
  <div id="sidebar-menu" class="show">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" routerLink="/">
          <span>
            <fa-icon icon="home"></fa-icon>
            <span>Home</span>
          </span>
        </a>
      </li>
      <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a>
          <span>
            <fa-icon icon="th-list"></fa-icon>
            <span> Entities </span>
          </span>
        </a>
        <ul>
          <li>
            <a class="dropdown-item" routerLink="subjects" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
              <span>Subjects</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="students" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <fa-icon icon="users" [fixedWidth]="true"></fa-icon>
              <span>Students</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="profiles" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <fa-icon icon="list" [fixedWidth]="true"></fa-icon>
              <span>Profiles</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="appreciations" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <fa-icon icon="heart" [fixedWidth]="true"></fa-icon>
              <span>Appreciations</span>
            </a>
          </li>
          <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
        </ul>
      </li>
      <li *jhiHasAnyAuthority="'ROLE_ADMIN'" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a href="javascript:void(0);" id="admin-menu" data-cy="adminMenu">
          <span>
            <fa-icon icon="users-cog"></fa-icon>
            <span>Administration</span>
          </span>
        </a>
        <ul aria-labelledby="admin-menu">
          <li>
            <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active">
              <fa-icon icon="users" [fixedWidth]="true"></fa-icon>
              <span>User management</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active">
              <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
              <span>API</span>
            </a>
          </li>
          <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
        </ul>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a href="javascript:void(0);" id="admin-menu" data-cy="adminMenu">
          <span>
            <fa-icon icon="users-cog"></fa-icon>
            <span>Account</span>
          </span>
        </a>
        <ul aria-labelledby="account-menu">
          <li>
            <a class="dropdown-item" routerLink="account/settings" routerLinkActive="active" data-cy="settings">
              <fa-icon icon="wrench" [fixedWidth]="true"></fa-icon>
              <span>Settings</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="account/password" routerLinkActive="active" data-cy="passwordItem">
              <fa-icon icon="lock" [fixedWidth]="true"></fa-icon>
              <span>Password</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" (click)="logout()" id="logout" data-cy="logout">
              <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
              <span>Sign out</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <!-- Sidebar -left -->
  </div>
</div>
<div class="content-page">
  <div class="content">
    <!-- Start Content-->
    <div class="container-fluid" [ngSwitch]="isAuthenticated()">
      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div class="page-title-box">
            <h4 class="page-title">Dashboard</h4>
          </div>
        </div>
      </div>
      <!-- end page title -->
      <div class="row">
        <div class="col-md-12">
          <div>
            <h1 class="display-4" *ngSwitchCase="false">Welcome, Student managements!</h1>

            <p class="lead" *ngSwitchCase="false">This is your homepage</p>

            <div class="alert alert-success" *ngSwitchCase="true">
              <span id="home-logged-message" *ngIf="account">You are logged in as user "{{ account.login }}".</span>
            </div>
            <div class="row">
              <div class="alert alert-warning" *ngSwitchCase="false">
                <span>If you want to </span>
                <a class="alert-link" (click)="login()">sign in</a
                ><!-- <span
            >, you can try the default accounts:<br />- Administrator (login="admin" and password="admin") <br />- User (login="user" and
            password="user").</span
          > -->
              </div>
              <div class="alert alert-warning" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="account/register">Register a new account</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="true">
        <!-- begin cards row -->

        <div class="row">
          <div class="col-lg-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="w-100">
                    <h3 class="text-muted mt-0">Active users</h3>
                    <h2 class="mb-0">{{ obj?.users }}</h2>
                  </div>
                  <i class="mdi mdi-account icon-orange display-3 float-end"></i>
                </div>
                <p class="text-muted mt-3 mb-3">Total number of active users. Click the link bellow to manage and view more about users.</p>
                <div routerLink="admin/user-management" style="cursor: pointer">
                  <a class="text-primary float-end"><i class="mdi mdi-arrow-right font-20"></i></a>
                  <span class="bg-soft-primary fw-medium text-primary rounded px-2 font-12 py-1">Manage</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="w-100">
                    <h3 class="text-muted mt-0">Profiles</h3>
                    <h2 class="mb-0">{{ obj?.profiles }}</h2>
                  </div>
                  <i class="mdi mdi-alpha-p-box icon-blue display-3 float-end"></i>
                </div>
                <p class="text-muted mt-3 mb-3">Total number of profiles. Click the link bellow to manage and view more about profiles.</p>
                <div routerLink="profiles" style="cursor: pointer">
                  <a class="text-primary float-end"><i class="mdi mdi-arrow-right font-20"></i></a>
                  <span class="bg-soft-primary fw-medium text-primary rounded px-2 font-12 py-1">Manage</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="w-100">
                    <h3 class="text-muted mt-0">Subjects</h3>
                    <h2 class="mb-0">{{ obj?.subjects }}</h2>
                  </div>
                  <i class="mdi mdi-book-education text-info display-3 float-end"></i>
                </div>
                <p class="text-muted mt-3 mb-3">Total number of subjects added.<br />Subject contains a list of Courses (notions).</p>
                <div routerLink="subjects" style="cursor: pointer">
                  <a class="text-primary float-end"><i class="mdi mdi-arrow-right font-20"></i></a>
                  <span class="bg-soft-primary fw-medium text-primary rounded px-2 font-12 py-1">Manage</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="w-100">
                    <h3 class="text-muted mt-0">Active students</h3>
                    <h2 class="mb-0">{{ obj?.students }}</h2>
                  </div>
                  <i class="mdi mdi-account-supervisor-circle text-success display-3 float-end"></i>
                </div>
                <p class="text-muted mt-3 mb-3">
                  Total number of active students. Click the link bellow to manage and view more about students.
                </p>
                <div routerLink="students" style="cursor: pointer">
                  <a class="text-primary float-end"><i class="mdi mdi-arrow-right font-20"></i></a>
                  <span class="bg-soft-primary fw-medium text-primary rounded px-2 font-12 py-1">Manage</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="w-100">
                    <h3 class="text-muted mt-0">Appreciations</h3>
                    <h2 class="mb-0">{{ obj?.appreciations }}</h2>
                  </div>
                  <i class="mdi mdi-equalizer display-3 icon-pink float-end"></i>
                </div>
                <p class="text-muted mt-3 mb-3">
                  Total number of appreciations. Click the link bellow to manage the list of appreciations and view more about it.
                </p>
                <div routerLink="appreciations" style="cursor: pointer">
                  <a class="text-primary float-end"><i class="mdi mdi-arrow-right font-20"></i></a>
                  <span class="bg-soft-primary fw-medium text-primary rounded px-2 font-12 py-1">Manage</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <!-- end cards row -->
        <div class="row" id="entities" *ngIf="studentsList && studentsList.length > 0" style="margin-top: 3em">
          <div class="col col-12">
            <h3>List of Students:</h3>
            <div
              class="input-group"
              style="position: relative; display: flex; flex-wrap: wrap; align-items: stretch; width: 100%; justify-content: flex-end"
            >
              <div class="form-outline" style="display: flex">
                <input type="search" placeholder="Search..." id="formStudentsList" class="form-control" (change)="filterlist($event)" />
                <button type="button" class="btn btn-primary">
                  <fa-icon icon="search"></fa-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="col col-md-3" *ngFor="let students of filteredStudentsList; trackBy: trackId">
            <div class="card" style="width: 100%">
              <div style="cursor: pointer; width: max-content; position: absolute; right: 11px; top: 4px; font-size: x-large">
                <div ngbDropdown class="pointer" display="dynamic" style="position: absolute; right: 11px; top: 4px">
                  <div ngbDropdownToggle id="entity-menu" data-cy="entity"></div>
                  <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
                    <button
                      type="submit"
                      [routerLink]="['/students', students.id, 'edit']"
                      class="btn btn-primary btn-sm dropdown-item"
                      data-cy="entityEditButton"
                    >
                      <fa-icon icon="pencil-alt"></fa-icon>
                      <span class="d-none d-md-inline"> Edit</span>
                    </button>

                    <button
                      type="submit"
                      (click)="delete(students)"
                      class="btn btn-danger btn-sm dropdown-item"
                      data-cy="entityDeleteButton"
                    >
                      <fa-icon icon="times"></fa-icon>
                      <span class="d-none d-md-inline"> Delete</span>
                    </button>
                  </div>
                </div>
              </div>
              <div style="cursor: pointer; text-align: center; margin: 14px">
                <img
                  *ngIf="students.image"
                  [src]="'data:' + students.imageContentType + ';base64,' + students.image"
                  style="height: 6em; width: 6em; border: 6px solid #212529; border-radius: 50%"
                  alt="{{ students.studentFirstName }} {{ students.studentLastName }} image"
                />
                <svg
                  *ngIf="!students.image"
                  xmlns="http://www.w3.org/2000/svg"
                  style="width: 6em; height: 6em"
                  fill="currentColor"
                  class="bi bi-person-circle"
                  viewBox="0 0 16 16"
                >
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                  <path
                    fill-rule="evenodd"
                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
                  />
                </svg>
              </div>
              <div class="card-body" style="text-align: center">
                <h4 class="card-title">{{ students.studentFirstName }} {{ students.studentLastName }}</h4>
                <p class="card-text"><fa-icon icon="lock" style="color: cornflowerblue"></fa-icon> {{ students.id }}</p>
                <p class="card-text">{{ students.dateOfBirth | formatMediumDate }} | {{ students.className }}</p>
                <button
                  type="submit"
                  [routerLink]="['/students', students.id, 'view']"
                  class="btn btn-info btn-sm"
                  data-cy="entityDetailsButton"
                >
                  <fa-icon icon="eye"></fa-icon>
                  <span class="d-none d-md-inline">See Profile</span>
                </button>
                <button
                  type="submit"
                  [routerLink]="['/students', students.id, 'data']"
                  class="btn btn-primary btn-sm"
                  data-cy="entityDetailsButton"
                >
                  <fa-icon icon="eye"></fa-icon>
                  <span class="d-none d-md-inline">Data</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <hr />

        <div class="row">
          <div class="col-xl-9">
            <div class="card">
              <div class="card-body">
                <h4 class="header-title mb-3">Students Data:</h4>

                <div class="table-responsive">
                  <table class="table table-hover table-centered mb-0">
                    <thead>
                      <tr>
                        <th>Full Name</th>
                        <th>Subjects</th>
                        <th>Notions</th>
                        <th>Status</th>
                        <th>Best</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let student of studentsList | slice: (page - 1) * pageSize:page * pageSize; trackBy: trackId">
                        <td [routerLink]="['/students', student.id, 'data']" style="cursor: pointer; font-weight: 900" class="text-primary">
                          {{ student.studentName }}
                        </td>
                        <td>{{ student?.subjects?.length }}</td>
                        <td>{{ student.subjects | notions }}</td>
                        <td><div [innerHTML]="student.subjects | notions: 'status'"></div></td>
                        <td><div [innerHTML]="student.subjects | notions: 'best'"></div></td>
                      </tr>
                    </tbody>
                    <caption>
                      <ngb-pagination
                        [(page)]="page"
                        [pageSize]="pageSize"
                        [collectionSize]="studentsList ? studentsList.length : 0"
                      ></ngb-pagination>
                    </caption>
                  </table>
                </div>
                <!-- end table responsive-->
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-md-6">
            <div class="card">
              <div class="card-body">
                <h4 class="header-title mb-3">Subjects statistics</h4>
                <div class="align-items-center border-bottom border-light pb-2 mb-1">
                  <h3 class="float-end my-2 py-1">
                    {{ totalFollow | number }} <i class="mdi mdi-alpha-p-box font-26 avatar-title text-info"></i>
                  </h3>
                  <div class="d-flex align-items-center">
                    <div class="avatar-md rounded-circle bg-soft-info">
                      <i class="mdi mdi-sale font-26 avatar-title text-info"></i>
                    </div>

                    <div class="ms-2">
                      <h5 class="mb-1 mt-0 fw-bold">Total Follows of Subjects</h5>
                      <p class="text-muted mb-0">
                        {{ subjectsList?.length | number }} Subjects are followed by {{ totalFollow | number }} students
                      </p>
                    </div>
                  </div>
                </div>
                <div
                  class="align-items-center border-bottom border-light py-2 my-1"
                  *ngFor="let subjectsStats of subjectsStatsList | slice: 0:10"
                >
                  <h3 class="float-end my-2 py-1">{{ subjectsStats.affectedTo | number }}</h3>
                  <div class="d-flex align-items-center">
                    <div class="avatar-md rounded-circle bg-soft-warning">
                      <i class="mdi mdi-autorenew font-26 avatar-title text-warning"></i>
                    </div>

                    <div class="ms-2">
                      <h5 class="mb-1 mt-0 fw-bold">{{ subjectsStats.subject.subject }}</h5>
                      <p class="text-muted mb-0">A total of {{ subjectsStats.affectedTo }} students follow this subject</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end row -->

        <div class="row">
          <!-- end col-->
          <div class="col-lg-9">
            <div class="card">
              <div class="card-body">
                <h4 class="header-title mb-3">Top 5 grades</h4>
                <div class="position-relative">
                  <div class="row align-items-center" *ngFor="let bestGrade of bestGrades | slice: 0:5; let i = index">
                    <div class="col-xl-5">
                      <h5>
                        {{ bestGrade.studentName }}
                        <span class="text-muted fw-normal"> - {{ bestGrade.subjectName }}: {{ bestGrade.courseName }}</span>
                        <b class="px-2">-</b>
                        <span class="text-muted">{{ bestGrade.note }}</span>
                      </h5>
                    </div>
                    <div class="col-xl-7">
                      <p>
                        <ngb-progressbar
                          [type]="gradesColors[i]"
                          [value]="bestGrade.note"
                          [max]="20"
                          height="20px"
                          [showValue]="true"
                          [striped]="false"
                        ></ngb-progressbar>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card">
              <div class="card-body">
                <h4 class="header-title mb-3">Total Users</h4>
                <!-- pie -->
                <canvas #pieCanvas style="height: 20vh"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- container -->
    </div>
  </div>
</div>
