<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-students-heading" data-cy="StudentsCreateUpdateHeading">Create or edit a Students</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_studentIdentifier">Student Identifier</label>
          <input
            type="text"
            class="form-control"
            name="studentIdentifier"
            id="field_studentIdentifier"
            data-cy="studentIdentifier"
            formControlName="studentIdentifier"
          />
          <div
            *ngIf="
              editForm.get('studentIdentifier')!.invalid &&
              (editForm.get('studentIdentifier')!.dirty || editForm.get('studentIdentifier')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('studentIdentifier')?.errors?.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_studentFirstName">Student First Name</label>
          <input
            type="text"
            class="form-control"
            name="studentFirstName"
            id="field_studentFirstName"
            data-cy="studentFirstName"
            formControlName="studentFirstName"
          />
          <div
            *ngIf="
              editForm.get('studentFirstName')!.invalid &&
              (editForm.get('studentFirstName')!.dirty || editForm.get('studentFirstName')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('studentFirstName')?.errors?.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_studentLastName">Student Last Name</label>
          <input
            type="text"
            class="form-control"
            name="studentLastName"
            id="field_studentLastName"
            data-cy="studentLastName"
            formControlName="studentLastName"
          />
          <div
            *ngIf="
              editForm.get('studentLastName')!.invalid &&
              (editForm.get('studentLastName')!.dirty || editForm.get('studentLastName')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('studentLastName')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_dateOfBirth">Date Of Birth</label>
          <div class="input-group">
            <input
              id="field_dateOfBirth"
              data-cy="dateOfBirth"
              type="text"
              class="form-control"
              name="dateOfBirth"
              ngbDatepicker
              #dateOfBirthDp="ngbDatepicker"
              formControlName="dateOfBirth"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dateOfBirthDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_schoolYear">School Year</label>
          <input
            type="text"
            class="form-control"
            name="schoolYear"
            id="field_schoolYear"
            data-cy="schoolYear"
            formControlName="schoolYear"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_className">Class Name</label>
          <input type="text" class="form-control" name="className" id="field_className" data-cy="className" formControlName="className" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
